# Domain Configuration
DOMAIN=cloud.xxx.com
TIMEZONE=Asia/Hong_Kong

# Volume Paths (Defaults used if left as is)
DB_DATA_PATH=../dbData
APP_DATA_PATH=../appData
USER_DATA_PATH=../userData

# Database Configuration
DB_NAME=nextcloud_db
DB_USER=nextcloud_user
DB_PASSWORD=nextcloud_password
DB_ROOT_PASSWORD=nextcloud_password

# Nextcloud Admin Credentials
NC_ADMIN_USER=admin
NC_ADMIN_PASSWORD=admin_password

# Resource & PHP Limits
MEMORY_LIMIT=8192M
UPLOAD_LIMIT=8192M
